img{
    height: 200px;
    width: auto;
}
body{
    font-family: 'Michroma', sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

h2{
    font-weight: bold;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: rgb(252,79,6);
    background: radial-gradient(circle, rgba(252,79,6,0.36220227837228647) 51%, rgba(243,127,19,0.2613619422378326) 91%);    
    margin: 10px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em .4em rgb(58, 58, 57);

}

.card-detail{
    background: rgb(252,79,6);
    background: radial-gradient(circle, rgba(252,79,6,0.36220227837228647) 51%, rgba(243,127,19,0.2613619422378326) 91%);    
    margin: 10px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em .4em rgb(58, 58, 57);
}


.centerImage{
    display: flex; 
    justify-content: center;
}

.centerText{
    text-align: center;
}

.detail{
    color: green;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-decoration : none;
}

.detail:hover{
    color: rgb(3, 165, 3);
    text-decoration: underline;
}

.retour{
    color: green;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-decoration : none;
}

.retour:hover{
    color: rgb(4, 156, 4);
    text-decoration: underline;
}

.gras{
    font-weight: bold;
    font-size: 1.1em
}
