img{
    height: 200px;
    width: auto;
}

body{
    font-family: 'Michroma', sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

h2{
    font-weight: bold;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin: 10px;
    padding: 20px;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em .4em rgb(58, 58, 57);
    background-image: radial-gradient(circle, #b4d16b, #c0d567, #ccd963, #d9dd5f, #e7e05b, #ecdd56, #f2db52, #f7d84e, #f5cf48, #f2c643, #efbe3e, #ecb53a);
}

.card-detail{
    margin: 10px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em .4em rgb(58, 58, 57);
    background-image: radial-gradient(circle, #b4d16b, #c0d567, #ccd963, #d9dd5f, #e7e05b, #ecdd56, #f2db52, #f7d84e, #f5cf48, #f2c643, #efbe3e, #ecb53a);
}

.centerImage{
    display: flex; 
    justify-content: center;
}

.centerText{
    text-align: center;
}

.detail{
    color: green;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-decoration : none;
}

.detail:hover{
    color: rgb(3, 165, 3);
    text-decoration: underline;
}

.retour{
    color: green;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-decoration : none;
}

.retour:hover{
    color: rgb(4, 156, 4);
    text-decoration: underline;
}

.gras{
    font-weight: bold;
    font-size: 1.1em;
}

.search{
    display: flex;
    justify-content: center;
   
}

input{
    font-size: 1.4em;
    margin-bottom: 2em;
}